body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #0f0f0f;
  color: #eee;
}

.navbar-brand {
  font-weight: bold;
  color: #0ef !important;
}

.section {
  padding: 80px 0;
}

.hero {
  background: linear-gradient(to right, #1f1c2c, #928dab);
  height: 100vh;
}

h2 {
  font-weight: 700;
  color: rgb(0, 234, 255);
  margin-bottom: 30px;
}


#about{
    text-align: justify;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 255, 255, 0.2);
}

.badge {
  font-size: 1rem;
  padding: 10px 16px;
  border-radius: 20px;
}

.btn-outline-light:hover,
.btn-outline-primary:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  .section {
    padding: 60px 0;
  }
}

